# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
env/
venv/
ENV/
.venv/

# VSCode & IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Environment Variables
.env

# PyInstaller
*.spec
build/
dist/

# Log files
*.log

# Cache
*.egg-info/
.eggs/
.cache/
.mypy_cache/
.pytest_cache/

# Flask
instance/
*.db

# Render or Heroku-specific
*.sqlite3
Procfile.dev
